<!-- Header -->
								<header id="header">
									<a class="logo" routerLink="/"><strong>Feral Love</strong></a>
									<ul class="icons">
										<li><a class="logo" routerLink="/adopt"><span class="label">Adopt</span></a></li>
										<li><a class="logo" routerLink="/stories"><span class="label">Stories</span></a></li>
										<li><a class="logo" routerLink="/about"><span class="label">About Us</span></a></li>
										<li><a class="logo" routerLink="/contact"><span class="label">Contact</span></a></li>
									</ul>
								</header>
