							<!-- Content -->
								<section>
									<header class="main">
										<h1>Available Adoptions</h1>
									</header>
                  <button (click)="consoleLog()">log</button>


               <!-- Grid -->
          <section class="wrapper style1 align-center">
						<div class="inner">
							<h2>Bring home your new family member today</h2>
							<p>Please note that some animals may not be immediately available due to medical or logistical information. For more information regarding any animal you see, please feel free to contact us.</p>
							<div class="items style1 medium onscroll-fade-in">

              @for (adoptable of adoptableAnimals; track adoptable) {
                <section>
									<span class="icon style2 major fa-gem"></span>
                  <h3><a routerLink="/">{{ adoptable.animalName }}</a></h3>
                  <p>{{ adoptable.age | monthsToYears }} - {{ adoptable.description }}</p>
                  <p><span>Age: {{ adoptable.age }}</span></p>
								</section>
              }

							</div>
						</div>
					</section>
